<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/components/head::head}">
</head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Sidebar Start -->
    <div th:replace="~{components/sidebar::sidebar}">
    </div>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">

        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0" th:replace="~{components/navbar::navbar}">
        </nav>
        <!-- Navbar End -->

        <!-- Main Start -->
        <div class="d-flex justify-content-center mt-5">
            <div class="col-sm-12 col-xl-6 mt-5">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-6 text-center">Edit Category</h6>
                    <form action="/admin/edit-category" method="post" enctype="multipart/form-data">
                        <div class="mb-4">
                            <input type="hidden" th:value="${category.id}" name="id">
                            <label for="exampleInputEmail1" class="form-label">Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" th:value="${category.name}"
                                   aria-describedby="emailHelp" placeholder="Category Name" name="name" required>
                            <div th:if="${exists}">
                                <div class="form-text text-danger">[[${exists}]]
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="formFile" class="form-label">Image</label>
                            <input class="form-control bg-dark" type="file" id="formFile" name="file" placeholder="No file selected">
                        </div>

                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive"
                                           id="gridRadios1" value="true" th:checked="${category.isActive==true}">
                                    <label class="form-check-label" for="gridRadios1">
                                        Active
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive"
                                           id="gridRadios2" value="false" th:checked="${category.isActive==false}">
                                    <label class="form-check-label" for="gridRadios2">
                                        Inactive
                                    </label>
                                </div>
                            </div>
                        </fieldset>

                        <div class="row mb-3">
                            <div class="d-flex justify-content-center mt-5">
                                <div class="col-form-label col-sm-2 pt-0 item-center">
                                    <img th:src="'/img/category_img/'+${category.image}" width="100px" height="70px">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Edit</button>
                            <a href="/admin/categories" type="button" class="btn btn-light m-2">Back to Categories</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Alert Success -->
        <div th:if="${success}">
            <div th:replace="~{components/alert::success}">
            </div>
        </div>

        <!-- Main End -->

        <!-- Footer Start
        <div th:replace="~{components/footer::footer}">
        </div>-->
        <!-- Footer End -->

    </div>
    <!-- Content End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/chart/chart.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>