<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Footer Start -->
<div class="container-fluid pt-4 px-4" th:fragment="footer">
    <div class="bg-secondary rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="#">The Fools</a>, All Right Reserved.
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                <br>Designed By: <a href="#" target="_blank">Baka</a>
                <br>Distributed By: <a href="#" target="_blank">Akatsuki</a>
            </div>
        </div>
    </div>
</div>