<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3" th:fragment="sidebar">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="/admin" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="bi bi-suit-club"></i> DarkSite</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Yakuash</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-solid fa-layer-group" style="color: #ea3e69;"></i>Categories</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/admin/create-category" class="dropdown-item">Create Categories</a>
                    <a href="/admin/categories" class="dropdown-item">Show categories</a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-solid fa-calendar" style="color: #ea3e69;"></i>
                    Products
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/admin/create-product" class="dropdown-item">Create Products</a>
                    <a href="/admin/products" class="dropdown-item">Show Products</a>
                </div>
            </div>

        </div>
    </nav>
</div>
<!-- Sidebar End -->